<%- include('maintemplate.ejs') %>

    <div class = "aboutdiv">
      <div class = 'container bg-light about-cont'>
          <div class = 'row'>
              <div class= 'col'>
                  <img class = "rounded d-block m-auto" src = "/thebeek.jpg" alt = "picture of Taylor wearing beekeeper viel" style ="justify-content:center;padding-top: 30px; padding-bottom: 10px;">

              </div>
              <div class = 'col'>
                  <div class = "container about-cont" style ="justify-content:center;padding-top: 30px; padding-bottom: 10px;">
                    <p>Taylor is a computer science student based in Tallahassee, Florida. Taylor formally began studying Computer Science in 2019 after developing an interest in using technology
                      to solve problems.
                    </p>
                    <p>In her work as a State Court Analyst, she strives to push technology-driven solutions to data questions and problems.</p>

                    <p>Taylor spends her free time beekeeping, weightlifting, running, and developing apps. Lately, she has been spending her time developing proficiency with Node.js to build more dynamic websites and applications.
                    </p>
                </div>
              </div>
          </div>
      </div>
    </div>  
  </body> 
</html>
        
    
     
            
        
  
  
