<script src = "blogbuilder.js"></script>
<%- include('maintemplate.ejs') %>


    <div class = "blogdiv">
      <div class= "container bg-light mx-auto blogdiv" id = "blog-container">
        <h1 class= "heading">Blog </h1>
        <div class= "accordion" id ="blogaccordion">
          <script>get_post()</script>
        </div>
      </div>
    </div>

            <!-- <nav aria-label="page nav">
              <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="blog.html">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="blog2.html">1</a></li>
                <li class="page-item"><a class="page-link" href="blog.html">2</a></li> 
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav> -->
  </body>
</html>
              
        




        
  
  













